pipeline/pl_incremental_child.json
{
	"name": "pl_incremental_child",
	"properties": {
		"activities": [
			{
				"name": "LookupExistingWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM config.tbl_watermark\nWHERE sourceTable = '@{pipeline().parameters.pTableName}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \nmax(@{pipeline().parameters.pColumnName}) as NewWaterMark\nFROM \n@{pipeline().parameters.pTableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyIncrementalData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupExistingWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.pTableName}\nWHERE \n@{pipeline().parameters.pColumnName} > '@{activity('LookupExistingWatermark').output.firstRow.lastUpdated}'\nand \n@{pipeline().parameters.pColumnName} <= '@{activity('LookupNewWatermark').output.firstRow.NewWaterMark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls",
						"type": "DatasetReference",
						"parameters": {
							"pContainer": "raw",
							"pFolder": {
								"value": "@concat(\r\n    utcnow('yyyy'),\r\n    '/',\r\n    utcnow('MMM'),\r\n    '/',\r\n    utcnow('dd'))\r\n",
								"type": "Expression"
							},
							"pFile": {
								"value": "@concat(split(activity('LookupExistingWatermark').output.firstRow.sourceTable, '.')[1], '.csv')\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "RunStoredProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyIncrementalData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_watermark]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.pTableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Updated": {
							"value": {
								"value": "@activity('LookupNewWatermark').output.firstRow.NewWatermark",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pTableName": {
				"type": "string"
			},
			"pColumnName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}