pipeline/pl_incremental_parent.json
{
	"name": "pl_incremental_parent",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermarkTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM config.tbl_watermark",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachIncrementalTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupWatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupWatermarkTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteIncrementalLoadChild",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_incremental_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pTableName": {
										"value": "@item().sourceTable",
										"type": "Expression"
									},
									"pColumnName": {
										"value": "@item().watermarkColumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}